<div class="container">
    <div class="signup">
        <h1>Edit User Info</h1>
        <form [formGroup]="editProfile" (ngSubmit)="edit()">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Enter your name" name="name" formControlName="name" required>
            <br><br>
            <label for="email">Email:</label>
            <input type="text" id="email" placeholder="Enter your email" name="email" formControlName="email">
            <br><br>
            <label for="password">Password:</label>
            <input type="password" placeholder="Enter your password" id="password" formControlName="password" name="password" [disabled]="true">
            <br><br>
            <input type="submit" value="Update Info">
        </form>
        <div id="errorMessages"></div>
    </div>
</div>